.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #f44336;
    width: 100%;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
}

.poke-card {
    width: 25%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: yellow;
    border: 1px solid black;
}

.poke-card .poke-image {
    width: 100%;
    border-radius: 8px;
}

.poke-card .poke-info {
    margin-top: 15px;
}

.poke-card .poke-info .poke-name {
    font-weight: bold;
    font-size: xx-large;
}

.poke-card .poke-info .poke-id {
    font-weight: 600;
}

.section-title {
    font-weight: bold;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
    color: #333;
}
